## Getting Started with Pandas
### Install Pandas (If Needed)

In [159]:
pip install pandas

Requirement already satisfied: pandas in c:\users\halos\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\halos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\halos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\halos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\halos\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\halos\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

### Import Pandas

In [160]:
import pandas as pd

## Creating a DataFrame
You can create data frames from lists, dictionry, structured data files like .csv , Excel sheets.

In [161]:
# Create a DataFrame
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"]
}

df = pd.DataFrame(data)

# Display DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [162]:
# print only the top two rows
print(df.head(2))

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [163]:
# print only the last two rows
print(df.tail(2))

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

## Reading from a CSV File

In [164]:
import pandas as pd

# Read CSV file
Employees = pd.read_csv("Employees.csv")

# Display first 5 rows
print(Employees.head())

   EmployeeID     Name  Age Department  Salary         City
0         101    Alice   25         HR   50000     New York
1         102      Bob   30         IT   60000      Chicago
2         103  Charlie   35    Finance   70000      Houston
3         104    David   40  Marketing   80000        Miami
4         105      Eve   28         IT   62000  Los Angeles

## Reading & Slicing DataFrames

In [165]:
# Select a single column
print(Employees["Name"])

0      Alice
1        Bob
2    Charlie
3      David
4        Eve
5      Frank
6      Grace
7       Hank
8        Ivy
9       Jack
Name: Name, dtype: object

In [166]:
# Select multiple columns
print(Employees[["Name", "City"]])

      Name           City
0    Alice       New York
1      Bob        Chicago
2  Charlie        Houston
3    David          Miami
4      Eve    Los Angeles
5    Frank  San Francisco
6    Grace       New York
7     Hank         Boston
8      Ivy        Seattle
9     Jack        Chicago

In [167]:
# Select rows using loc (label-based)
print(Employees.loc[1])  # Second row

EmployeeID        102
Name              Bob
Age                30
Department         IT
Salary          60000
City          Chicago
Name: 1, dtype: object

In [168]:
# Select rows using iloc (position-based)
print(Employees.iloc[2])  # Third row

EmployeeID        103
Name          Charlie
Age                35
Department    Finance
Salary          70000
City          Houston
Name: 2, dtype: object

### Activity:

*Show the following:*

1-  Employees Ids and Names

2-  Salary

3-  Eve information (based on row index)

## Checking Info & Summary Statistics

**Get dataset details.**

In [169]:
# Get dataset structure using info
print(Employees.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  10 non-null     int64
 1   Name        10 non-null     object
 2   Age         10 non-null     int64
 3   Department  10 non-null     object
 4   Salary      10 non-null     int64
 5   City        10 non-null     object
dtypes: int64(3), object(3)
memory usage: 608.0+ bytes
None

In [170]:
# Get summary statistics for numrical colunms using describe
print(Employees.describe())

       EmployeeID        Age       Salary
count    10.00000  10.000000     10.00000
mean    105.50000  35.100000  64900.00000
std       3.02765   7.978443   9492.10198
min     101.00000  25.000000  50000.00000
25%     103.25000  29.250000  58500.00000
50%     105.50000  33.500000  64500.00000
75%     107.75000  39.250000  71500.00000
max     110.00000  50.000000  80000.00000

In [171]:
# check rows & columns count.
print(Employees.shape)

(10, 6)

## Handle Missing Data
### Checking for missing data

|        Method            | Description                           |
| ------------------------ | ------------------------------------- |
| df.isna().sum()	       | Count missing values in all columns   |	
| df["col"].isna().sum()   | Count missing values in a column      |
| df["col"].isna()	       | Returns True/False for each row       |
| df[df["col"].isna()]	   | Filters rows with missing values      |

In [172]:
# Load the dataset
sales = pd.read_csv("sales_data.csv")

# Display first 5 rows
print(sales)

   OrderID        Date     Customer  Product  Quantity   Price   Total  \
0     1001  2024-01-01     John Doe   Laptop         1  1000.0     NaN
1     1002  2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003  2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004  2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005         NaN    Eve Davis   Laptop         1  1000.0  1000.0
5     1006  2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami

In [173]:
# Get summary statistics for numrical columns. 
# Count of rows if a column contians less row it means it has empty
print(sales.describe())

           OrderID  Quantity        Price        Total
count     6.000000  6.000000     5.000000     5.000000
mean   1003.500000  1.666667   620.000000   720.000000
std       1.870829  0.816497   356.370594   342.052628
min    1001.000000  1.000000   300.000000   300.000000
25%    1002.250000  1.000000   300.000000   400.000000
50%    1003.500000  1.500000   500.000000   900.000000
75%    1004.750000  2.000000  1000.000000  1000.000000
max    1006.000000  3.000000  1000.000000  1000.000000

In [174]:
# check nan values in dataframe
print(sales.isna())

   OrderID   Date  Customer  Product  Quantity  Price  Total   City
0    False  False     False    False     False  False   True  False
1    False  False     False    False     False  False  False  False
2    False  False      True    False     False  False  False  False
3    False  False     False    False     False   True  False  False
4    False   True     False    False     False  False  False  False
5    False  False      True    False     False  False  False  False

In [175]:
# Count missing values for all columns even with non-numerical values
print(sales.isna().sum())

OrderID     0
Date        1
Customer    2
Product     0
Quantity    0
Price       1
Total       1
City        0
dtype: int64

In [176]:
# check Nan values in column Customer 
print(sales["Customer"].isna())

0    False
1    False
2     True
3    False
4    False
5     True
Name: Customer, dtype: bool

In [177]:
# Find Rows with Missing Values in a Column

print(sales[sales["Customer"].isna()])  # Displays rows where "Customer" is NaN

   OrderID        Date Customer Product  Quantity  Price  Total         City
2     1003  2024-01-03      NaN  Tablet         1  300.0  300.0  Los Angeles
5     1006  2024-01-06      NaN  Tablet         3  300.0  900.0        Miami

### Activity:

Read file students_with_nan.csv, then perform the following:

1-  Calculate count missing values for all columns even with non-numerical values from Students dataframe.

2- Find Rows with Missing Values in City

In [178]:
# Load CSV file
Students= pd.read_csv("students_with_nan.csv")

# Display the DataFrame
print(Students)

# Check for missing values

# Calculate how many missing values are in each column

# Find Rows with Missing Values in City

      Name   Age      City
0    Alice  25.0  New York
1      Bob  30.0       NaN
2  Charlie   NaN   Chicago
3    David  40.0       NaN
4     Emma  22.0     Miami

## Fix Missing Values & Format Dates

using fillna() , ffill(), bfill(), interpolate(), and dropna()

In [179]:
# Fill missing Total by running an equation on other columns Total = Quantitiy * Price
total = sales["Quantity"] * sales["Price"]
sales["Total"]=sales["Total"].fillna(total)
print(sales)

   OrderID        Date     Customer  Product  Quantity   Price   Total  \
0     1001  2024-01-01     John Doe   Laptop         1  1000.0  1000.0
1     1002  2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003  2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004  2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005         NaN    Eve Davis   Laptop         1  1000.0  1000.0
5     1006  2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami

In [180]:
# Fill missing Price with mean price
avg_price = sales["Price"].mean()
sales["Price"]=sales["Price"].fillna(avg_price)
print(sales)

   OrderID        Date     Customer  Product  Quantity   Price   Total  \
0     1001  2024-01-01     John Doe   Laptop         1  1000.0  1000.0
1     1002  2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003  2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004  2024-01-04  Charlie Lee  Monitor         2   620.0   400.0
4     1005         NaN    Eve Davis   Laptop         1  1000.0  1000.0
5     1006  2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami

In [181]:
# Drop rows where "Customer" is missing
sales.dropna(subset=["Customer"], inplace=True)
print(sales)

   OrderID        Date     Customer  Product  Quantity   Price   Total  \
0     1001  2024-01-01     John Doe   Laptop         1  1000.0  1000.0
1     1002  2024-01-02  Alice Smith    Phone         2   500.0  1000.0
3     1004  2024-01-04  Charlie Lee  Monitor         2   620.0   400.0
4     1005         NaN    Eve Davis   Laptop         1  1000.0  1000.0

            City
0       New York
1  San Francisco
3         Boston
4        Chicago

In [182]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 4
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   4 non-null      int64
 1   Date      3 non-null      object
 2   Customer  4 non-null      object
 3   Product   4 non-null      object
 4   Quantity  4 non-null      int64
 5   Price     4 non-null      float64
 6   Total     4 non-null      float64
 7   City      4 non-null      object
dtypes: float64(2), int64(2), object(4)
memory usage: 288.0+ bytes
None

In [183]:
# Convert "Date" column to datetime format
sales["Date"] = pd.to_datetime(sales["Date"])
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 4
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   4 non-null      int64
 1   Date      3 non-null      datetime64[ns]
 2   Customer  4 non-null      object
 3   Product   4 non-null      object
 4   Quantity  4 non-null      int64
 5   Price     4 non-null      float64
 6   Total     4 non-null      float64
 7   City      4 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 288.0+ bytes
None

In [184]:
# Replace NaT with a Specific Date "2024-01-01"
# If you want to fill all missing dates with a fixed date:

sales["Date"] = sales["Date"].fillna(pd.to_datetime("2024-01-01"))
print(sales)

   OrderID       Date     Customer  Product  Quantity   Price   Total  \
0     1001 2024-01-01     John Doe   Laptop         1  1000.0  1000.0
1     1002 2024-01-02  Alice Smith    Phone         2   500.0  1000.0
3     1004 2024-01-04  Charlie Lee  Monitor         2   620.0   400.0
4     1005 2024-01-01    Eve Davis   Laptop         1  1000.0  1000.0

            City
0       New York
1  San Francisco
3         Boston
4        Chicago

In [185]:
# Forward Fill (ffill)
# Fills missing dates with previous row's value.
sales = pd.read_csv("sales_data.csv")
sales["Date"] = pd.to_datetime(sales["Date"])
print(sales)
sales["Date"] = sales["Date"].ffill()
print(sales)

   OrderID       Date     Customer  Product  Quantity   Price   Total  \
0     1001 2024-01-01     John Doe   Laptop         1  1000.0     NaN
1     1002 2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003 2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004 2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005        NaT    Eve Davis   Laptop         1  1000.0  1000.0
5     1006 2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami
   OrderID       Date     Customer  Product  Quantity   Price   Total  \
0     1001 2024-01-01     John Doe   Laptop         1  1000.0     NaN
1     1002 2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003 2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004 2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005 2024-01-04    Eve Davis   Laptop         1  1000.0  1000.0
5     1006 2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami

In [186]:
# Backward Fill (bfill)
# Fills missing dates with next row's value.
sales = pd.read_csv("sales_data.csv")
sales["Date"] = pd.to_datetime(sales["Date"])
print(sales)
sales["Date"] = sales["Date"].bfill()
print(sales)

   OrderID       Date     Customer  Product  Quantity   Price   Total  \
0     1001 2024-01-01     John Doe   Laptop         1  1000.0     NaN
1     1002 2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003 2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004 2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005        NaT    Eve Davis   Laptop         1  1000.0  1000.0
5     1006 2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami
   OrderID       Date     Customer  Product  Quantity   Price   Total  \
0     1001 2024-01-01     John Doe   Laptop         1  1000.0     NaN
1     1002 2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003 2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004 2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005 2024-01-06    Eve Davis   Laptop         1  1000.0  1000.0
5     1006 2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami

In [187]:
# Interpolation (Estimate Missing Dates)
# If dates follow a regular pattern, use interpolation.
sales = pd.read_csv("sales_data.csv")
sales["Date"] = pd.to_datetime(sales["Date"])
print(sales)
sales["Date"] = sales["Date"].interpolate()
print(sales)

   OrderID       Date     Customer  Product  Quantity   Price   Total  \
0     1001 2024-01-01     John Doe   Laptop         1  1000.0     NaN
1     1002 2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003 2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004 2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005        NaT    Eve Davis   Laptop         1  1000.0  1000.0
5     1006 2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami
   OrderID       Date     Customer  Product  Quantity   Price   Total  \
0     1001 2024-01-01     John Doe   Laptop         1  1000.0     NaN
1     1002 2024-01-02  Alice Smith    Phone         2   500.0  1000.0
2     1003 2024-01-03          NaN   Tablet         1   300.0   300.0
3     1004 2024-01-04  Charlie Lee  Monitor         2     NaN   400.0
4     1005 2024-01-05    Eve Davis   Laptop         1  1000.0  1000.0
5     1006 2024-01-06          NaN   Tablet         3   300.0   900.0

            City
0       New York
1  San Francisco
2    Los Angeles
3         Boston
4        Chicago
5          Miami

### Activity: 

Read file students_with_nan.csv, then perform the following:

1- Fill missing city values with "Unknown."

2- Fill missing ages with the median age.

In [188]:
# Load CSV file
Students= pd.read_csv("students_with_nan.csv")

# Display the DataFrame
print(Students)

# Fill missing city values with "Unknown."

# Fill missing ages with the mean age.

      Name   Age      City
0    Alice  25.0  New York
1      Bob  30.0       NaN
2  Charlie   NaN   Chicago
3    David  40.0       NaN
4     Emma  22.0     Miami